@layout('layouts/app')

@section('title')
    Show 1 Sneaker Page 
@endsection

@section('content')
    <h1>Show 1 Sneaker Page</h1>
    <div class="show-page">
        <div class="img">
            <h2>{{ sneaker.title }}</h2>
            <img src="{{ sneaker.image }}" alt="">
            <p>{{ sneaker.description }}</p>
        </div>
    </div>
@endsection